# Segmentation and Clustering Neigborhoods

In [2]:
import requests
import lxml.html as lh
import pandas as pd

In [50]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [51]:
r = requests.get(url)

tables = pd.read_html(r.text)

df=pd.DataFrame(tables[0])

In [52]:
df.columns=['Postcode','Borough','Neighbourhood']
df.reset_index()
df.head()

  Postcode           Borough              Neighbourhood
0      M1A      Not assigned               Not assigned
1      M2A      Not assigned               Not assigned
2      M3A        North York                  Parkwoods
3      M4A        North York           Victoria Village
4      M5A  Downtown Toronto  Regent Park, Harbourfront

In [53]:
df.drop(df[df['Borough']=='Not assigned'].index,axis=0, inplace=True)
df.head()

  Postcode           Borough                                Neighbourhood
2      M3A        North York                                    Parkwoods
3      M4A        North York                             Victoria Village
4      M5A  Downtown Toronto                    Regent Park, Harbourfront
5      M6A        North York             Lawrence Manor, Lawrence Heights
6      M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [54]:
df1=df.groupby("Postcode").agg(lambda x:','.join(set(x)))

In [55]:
df1.loc[df1['Neighbourhood']=="Not assigned",'Neighbourhood']=df1.loc[df1['Neighbourhood']=="Not assigned",'Borough']

df1.shape

(103, 2)